<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doctor-is</title>
  </head>
  <body>
    <span>
      <div>
        <a href="{% url 'add_room' %}">Add Room</a>
      </div>
      <div>
        <a href="{% url 'add_room_type' %}">Add Room Type</a>
      </div>
      <div>
        <a href="{% url 'add_doctor' %}">Add Doctor</a>
      </div>
    </span>
    <!--  Generic print of added objects to the db e.g. after adding doctor-->
    {% if objects %}
        <ul>
        {% for o in objects %}
          {% if o.first_name %}
            <h1>{{ o.first_name }} {{ o.last_name }}</h1>
          {% else %}
            <p>{{ o.id }}</p>
          {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No records.</p>
    {% endif %}
  </body>
</html>
