<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doctor-is</title>
  </head>
  <body>
    <span>
      <div>
        <a href="{% url 'add_department' %}">Add Department</a>
      </div>
      <div>
        <a href="{% url 'add_room' %}">Add Room</a>
      </div>
      <div>
        <a href="{% url 'add_room_type' %}">Add Room Type</a>
      </div>
      <div>
        <a href="{% url 'add_doctor' %}">Add Doctor</a>
      </div>
      <div>
        <a href="{% url 'add_nurse' %}">Add Nurse</a>
      </div>
      <div>
        <a href="{% url 'add_patient' %}">Add Patient</a>
      </div>
      <div>
        <a href="{% url 'add_drugs' %}">Add Drug</a>
      </div>
      <div>
        <a href="{% url 'add_treatments' %}">Add Treatment</a>
      </div>
      <div>
        <a href="{% url 'add_visits' %}">Add Visit</a>
      </div>
      <div>
        <a href="{% url 'add_receptionist' %}">Add Receptionist</a>
      </div>
    </span>
    <!--  Generic print of added objects to the db e.g. after adding doctor-->
    {% if objects %}
        <ul>
        {% for o in objects %}
          {% if o.user %}
            <p>{{ o.user.first_name }} {{ o.user.last_name }}</p>
          {% else %}
            <p>{{ o.id }}</p>
          {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No records.</p>
    {% endif %}
  </body>
</html>
