{% extends 'base.html' %}
{% block content %}
<!-- page details -->
<div class="breadcrumb-agile py-1">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/doctors">Doctors</a></li>
        <li class="breadcrumb-item active" aria-current="page"> {{ title }}</li>
    </ol>
</div>
<!-- //page details -->

<div class="container py-5">
    <h1>Add a new {{ title}} </h1>
    <form action={{ submit }} method="post">
        {% csrf_token %}
        {{ form }}
    <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}